
/*-- scss:defaults --*/

body {
  background-image: url("/img/wp15410183.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background-color: transparent;
  box-shadow: none;
}